<footer>
  <style>
    footer {
      color: white;
      text-align: center;
    }
  </style>

  <hr>
  CST336 Internet Programming. 2026&copy; Fierro-Ojeda<br>
  <strong>Disclaimer:</strong> The information provided is for academic purposes only.<br>
</footer>

</body>
</html>