     <nav>
     <style>
        nav{
            color: white;
            font-size: 1.3em;
            text-align: center;
            padding: 10px 20px;
            word-spacing: 2px;
            }

        nav a {
            color: white;
            margin: 0 10px;
            text-decoration: none;
            transition: 0.3s;
        }

        nav a:hover {
            font-size: 1.3em;
        }
     </style>
        <a href="/"> Home </a> 
        <a href="/mercury"> Mercury </a>
        <a href="/venus"> Venus </a>
        <a href="/earth"> Earth </a>
        <a href="/mars"> Mars </a>
        <a href="/jupiter"> Jupiter </a>
        <a href="/saturn"> Saturn </a>
        <a href="/uranus"> Uranus </a>
        <a href="/neptune"> Neptune </a>
        <a href="/pluto"> Pluto </a>
        <a href="/nasa"> ☆ NASA's Picture of the Day ☆</a>
    </nav>